<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.AreaMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Area">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="cityid" column="cityId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,area,cityId
    </sql>
</mapper>
