<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CartGoodsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.CartGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodid" column="goodId" jdbcType="BIGINT"/>
            <result property="goodsname" column="goodsName" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="headerpic" column="headerPic" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="orderid" column="orderId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goodId,goodsName,
        price,headerPic,num,
        orderId
    </sql>
</mapper>
