<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Permission">
            <id property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="permissionname" column="permissionName" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,permissionName,url
    </sql>
</mapper>
