<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ProductTypeMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ProductType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="parentid" column="parentId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,level,
        parentId
    </sql>
</mapper>
