<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangkai.etao_goods_service.mapper.GoodsMapper">

    <insert id="addGoodsSpecificationOption">
        INSERT INTO bz_goods_specification_option VALUES(#{gid},#{optionId})
    </insert>

    <delete id="deleteGoodsSpecificationOption">
        DELETE FROM bz_goods_specification_option WHERE gid = #{gid}
    </delete>
    <update id="putAway">
        update bz_goods set isMarketable = #{isMarketable} where id = #{id};
    </update>

    <resultMap id="goodsMapper" type="com.huangkai.etao_common.domain.Goods">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="brandId" column="brandId"></result>
        <result property="productType1Id" column="productType1Id"></result>
        <result property="productType2Id" column="productType2Id"></result>
        <result property="productType3Id" column="productType3Id"></result>
        <result property="introduction" column="introduction"></result>
        <collection property="images" column="bid" ofType="com.huangkai.etao_common.domain.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.huangkai.etao_common.domain.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.huangkai.etao_common.domain.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="findById" resultMap="goodsMapper">
        SELECT
            bz_goods.`id` bid,
            bz_goods.`goodsName` goodsName,
            bz_goods.`caption` caption,
            bz_goods.`price` price,
            bz_goods.`headerPic` headerPic,
            bz_goods.`introduction` introduction,
            bz_goods.`isMarketable` isMarketable,
            bz_goods.`brandId` brandId,
            bz_goods.`productType1Id` productType1Id,
            bz_goods.`productType2Id` productType2Id,
            bz_goods.`productType3Id` productType3Id,
            bz_goods_image.`id` imageId,
            bz_goods_image.`imageTitle` imageTitle,
            bz_goods_image.`imageUrl` imageUrl,
            bz_specification.`id` specificationId,
            bz_specification.`specName` specName,
            bz_specification.`productTypeId` productTypeId,
            bz_specification_option.`id` optionId,
            bz_specification_option.`optionName` optionName
        FROM
            bz_goods,
            bz_goods_specification_option,
            bz_specification_option,
            bz_specification,
            bz_goods_image
        WHERE bz_goods.`id` = bz_goods_specification_option.`gid`
          AND bz_goods_specification_option.`optionId` = bz_specification_option.`id`
          AND bz_specification.`id` = bz_specification_option.`specId`
          AND bz_goods.`id` = bz_goods_image.`goodsId`
          AND bz_goods.id = #{gid}
    </select>

    <resultMap id="goodsDescMapper" type="com.huangkai.etao_common.domain.GoodsDesc">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="introduction" column="introduction"></result>
        <association property="brand" column="brandId" javaType="com.huangkai.etao_common.domain.Brand">
            <id property="id" column="brandId"></id>
            <result property="name" column="brandName"></result>
        </association>
        <association property="productType1" column="type1Id" javaType="com.huangkai.etao_common.domain.ProductType">
            <id property="id" column="type1Id"></id>
            <result property="name" column="type1Name"></result>
            <result property="level" column="type1Level"></result>
            <result property="parentId" column="type1ParentId"></result>
        </association>
        <association property="productType2" column="type2Id" javaType="com.huangkai.etao_common.domain.ProductType">
            <id property="id" column="type2Id"></id>
            <result property="name" column="type2Name"></result>
            <result property="level" column="type2Level"></result>
            <result property="parentId" column="type2ParentId"></result>
        </association>
        <association property="productType3" column="type3Id" javaType="com.huangkai.etao_common.domain.ProductType">
            <id property="id" column="type3Id"></id>
            <result property="name" column="type3Name"></result>
            <result property="level" column="type3Level"></result>
            <result property="parentId" column="type3ParentId"></result>
        </association>
        <collection property="images" column="bid" ofType="com.huangkai.etao_common.domain.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.huangkai.etao_common.domain.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.huangkai.etao_common.domain.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="findAll" resultMap="goodsDescMapper">
        SELECT
            bz_goods.id bid,
            bz_goods.goodsName goodsName,
            bz_goods.caption caption,
            bz_goods.price price,
            bz_goods.headerPic headerPic,
            bz_goods.introduction introduction,
            bz_goods.isMarketable isMarketable,
            bz_goods.brandId brandId,
            bz_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.`level` type1Level,
            type1.parentId type1ParentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.`level` type2Level,
            type2.parentId type2ParentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.`level` type3Level,
            type3.parentId type3ParentId,
            bz_goods_image.id imageId,
            bz_goods_image.imageTitle imageTitle,
            bz_goods_image.imageUrl imageUrl,
            bz_specification.id specificationId,
            bz_specification.specName specName,
            bz_specification.productTypeId productTypeId,
            bz_specification_option.id optionId,
            bz_specification_option.optionName optionName
        FROM
            bz_goods,
            bz_goods_image,
            bz_brand,
            bz_specification,
            bz_specification_option,
            bz_goods_specification_option,
            bz_product_type AS type1,
            bz_product_type AS type2,
            bz_product_type AS type3
        WHERE bz_goods.id = bz_goods_specification_option.gid
          AND bz_goods_specification_option.optionId = bz_specification_option.id
          AND bz_specification.id = bz_specification_option.specId
          AND bz_goods.brandId = bz_brand.id
          AND bz_goods.id = bz_goods_image.goodsId
          AND bz_goods.productType1Id = type1.id
          AND bz_goods.productType2Id = type2.id
          AND bz_goods.productType3Id = type3.id
    </select>

    <select id="findDesc" resultMap="goodsDescMapper">
        SELECT
            bz_goods.id bid,
            bz_goods.goodsName goodsName,
            bz_goods.caption caption,
            bz_goods.price price,
            bz_goods.headerPic headerPic,
            bz_goods.introduction introduction,
            bz_goods.isMarketable isMarketable,
            bz_goods.brandId brandId,
            bz_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.`level` type1Level,
            type1.parentId type1ParentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.`level` type2Level,
            type2.parentId type2ParentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.`level` type3Level,
            type3.parentId type3ParentId,
            bz_goods_image.id imageId,
            bz_goods_image.imageTitle imageTitle,
            bz_goods_image.imageUrl imageUrl,
            bz_specification.id specificationId,
            bz_specification.specName specName,
            bz_specification.productTypeId productTypeId,
            bz_specification_option.id optionId,
            bz_specification_option.optionName optionName
        FROM
            bz_goods,
            bz_goods_image,
            bz_brand,
            bz_specification,
            bz_specification_option,
            bz_goods_specification_option,
            bz_product_type AS type1,
            bz_product_type AS type2,
            bz_product_type AS type3
        WHERE bz_goods.id = bz_goods_specification_option.gid
          AND bz_goods_specification_option.optionId = bz_specification_option.id
          AND bz_specification.id = bz_specification_option.specId
          AND bz_goods.brandId = bz_brand.id
          AND bz_goods.id = bz_goods_image.goodsId
          AND bz_goods.productType1Id = type1.id
          AND bz_goods.productType2Id = type2.id
          AND bz_goods.productType3Id = type3.id
          AND bz_goods.id = #{id}
    </select>
</mapper>