<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangkai.etao_admin_service.mapper.AdminMapper">
    <resultMap id="adminMapper" type="com.huangkai.etao_common.domain.Admin">
        <id property="aid" column="aid"></id>
        <result property="username" column="username"></result>
        <collection property="roles" column="aid" ofType="com.huangkai.etao_common.domain.Role">
            <id property="rid" column="rid"></id>
            <result property="roleName" column="roleName"></result>
            <result property="roleDesc" column="roleDesc"></result>
            <collection property="permissions" column="rid" ofType="com.huangkai.etao_common.domain.Permission">
                <id property="pid" column="pid"></id>
                <result property="permissionName" column="permissionName"></result>
                <result property="url" column="url"></result>
            </collection>
        </collection>
    </resultMap>
    <insert id="addRoleToAdmin">
        insert into bz_admin_role values (#{aid},#{rid})
    </insert>

    <delete id="deleteAdminAllRole">
        delete from bz_admin_role where aid = #{aid}
    </delete>
    <select id="findById" resultMap="adminMapper">
        select * from bz_admin
                          left join bz_admin_role
                                    on bz_admin.aid = bz_admin_role.aid
                          LEFT JOIN bz_role
                                    ON bz_admin_role.rid = bz_role.rid
                          LEFT JOIN bz_role_permission
                                    ON bz_role.rid = bz_role_permission.rid
                          LEFT JOIN bz_permission
                                    ON bz_role_permission.pid = bz_permission.pid
        WHERE bz_admin.aid = #{aid}
    </select>
    <select id="findAllPermission" resultType="com.huangkai.etao_common.domain.Permission">
        select DISTINCT bz_permission.* from bz_admin
                          left join bz_admin_role
                                    on bz_admin.aid = bz_admin_role.aid
                          LEFT JOIN bz_role
                                    ON bz_admin_role.rid = bz_role.rid
                          LEFT JOIN bz_role_permission
                                    ON bz_role.rid = bz_role_permission.rid
                          LEFT JOIN bz_permission
                                    ON bz_role_permission.pid = bz_permission.pid
        WHERE bz_admin.username = #{username}
    </select>
</mapper>